/* РУТ ЦВЕТА */
:root {
   --secondary-text-color: #757575;
   --primary-text-color: #212121;
   --current-color: #2196f3;
   --white-colour: #ffffff;
   --addres-colour: rgba(255, 255, 255, 0.6);
   --background: #2f303a;
   --second-background: #f5f4fa;
   --border: #eeeeee;
   --clients-picture-border: #afb1b8;
   --hero-background: #c4c4c4;
   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ОБЩИЕ НАСТРОЙКИ */

body {
   font-family: Roboto, sans-serif;
   color: var(--primary-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0px;
   margin-bottom: 0px;
}
ul {
   padding: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
}
.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}
.list {
   list-style: none;
}
.link {
   text-decoration: none;
}
/* ХЕДЕР */
.header {
   border-bottom: 1px solid #ececec;
}
.header-content,
.site-nav,
.nav {
   display: flex;
}
.nav-link {
   display: inline-block;
}

.site-nav > .nav-list:not(:last-child) {
   margin-right: 50px;
}

.toplogo {
   padding-top: 24px;
   padding-bottom: 25px;
   margin-right: 93px;
}
.logo {
   font-family: Raleway;
   font-style: normal;
   font-size: 26px;
   line-height: 1.19;
   color: var(--current-color);
}
.logo:hover,
.logo:focus {
   cursor: pointer;
}
.header-logo {
   font-family: Raleway;
   font-style: normal;
   font-size: 26px;
   line-height: 1.19;
   color: var(--primary-text-color);
}
.header-logo:hover,
.header-logo:focus {
   cursor: pointer;
}

.nav-link {
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--primary-text-color);
   transition: color 250ms var(--timing-function);
}
.site-nav .nav-link {
   display: block;
   padding: 32px 0;
}
.nav-link:focus,
.nav-link:hover {
   color: var(--current-color);
}
.nav-list {
   position: relative;
}
.current::after {
   content: '';
   position: absolute;
   transform: translateX(-100%);
   bottom: 0px;
   width: 100%;
   border-bottom: solid 4px var(--current-color);
   border-radius: 2px;
}
.current {
   color: var(--current-color);
}
.header-contacts {
   margin-left: auto;
   display: flex;
}
.contacts-list:nth-child(1) {
   margin-right: 30px;
}
.header-contact {
   display: flex;
   align-items: center;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   padding: 32px 0;
   color: var(--secondary-text-color);
   transition: color 250ms var(--timing-function);

}

.header-contact:hover,
.header-contact:focus {
   color: var(--current-color);
}
.svg-phone,
.svg-mail {
   margin-right: 10px;
   fill: rgba(117, 117, 117, 1);
   transition: fill 250ms var(--timing-function);
}
.header-contact:hover .svg-phone,
.header-contact:focus .svg-phone,
.header-contact:hover .svg-mail,
.header-contact:focus .svg-mail {
   fill: var(--current-color);
}



/* INDEX BODY Styles */
.hero-section {
   padding: 200px 0;
   text-align: center;
   width: 100%;
   background-color: var(--background);
}
.hero-img {
   margin-right: auto;
   margin-left: auto;
   max-width: 1600px;
   height: 600px;
   background-repeat: no-repeat;
   background-color: var(--hero-background);
   background-image: linear-gradient(
         to bottom,
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
      ),
      url(../images/heropicture.jpg);
   background-position: center;
   background-size: cover;
}
.main-title {
   margin-bottom: 30px;
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: 1, 5;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--white-colour);
}
.order-service {
   border-radius: 4px;
   min-width: 200px;
   padding: 10px 32px;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.875;
   background-color: var(--current-color);
   color: var(--white-colour);
   cursor: pointer;
   letter-spacing: 0.06em;
}
.order-service:focus,
.order-service:hover {
   cursor: pointer;
}
.section {
   padding-bottom: 94px;
}

.features-section {
   padding-bottom: 94px;
   padding-top: 94px;
}
.sections-title {
   margin-bottom: 50px;
   font-style: normal;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   letter-spacing: 0.03em;
}
.hide-title {
   height: 0px;
   opacity: 0;
}
.features-list {
   display: flex;
}
.features-icon-block {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 270px;
   height: 120px;
   border-radius: 4px;
   padding: 30px 100px;
   margin-bottom: 30px;
   background-color: var(--second-background);
}
.features-icon {
   width: 70px;
   height: 70px;
}

.features:not(:last-child),
.whatwedo-list:not(:last-child),
.worker:not(:last-child) {
   margin-right: 30px;
}
.features-title {
   margin-bottom: 10px;
   font-style: normal;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.features-paragraph {
   font-weight: 400;
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color);
}
.whatwedo {
   display: flex;
}
.whatwedo-picture {
   display: block;
}
.whatwedo-list {
   position: relative;
}
.whatwedo-description {
   position: absolute;
   bottom: 0;
   min-height: 70px;
   width: 100%;
   padding: 27px 0;
   background-color: rgba(47, 48, 58, 0.8);
}
.whatwedo-text {
   font-family: Roboto, sans-serif;
   font-style: 400;
   font-weight: bold;
   font-size: 14px;
   text-align: center;
   line-height: 1.14;
   letter-spacing: 0.03em;
   color: var(--white-colour);
}
.team-section {
   padding: 94px 0;
   background-color: var(--second-background);
}

.workers-list {
   display: flex;
}
.worker {
   display: block;
   overflow: hidden;
   background-color: var(--second-background);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
.worker-foto {
   display: block;
}
.worker-inf {
   justify-content: center;
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: var(--white-colour);
}
.worker-name {
   margin-bottom: 10px;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
}
.proffession {
   margin-bottom: 16px;
   font-style: normal;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color);
}
.social {
   display: flex;
   justify-content: center;
   align-items: center;
}
.social-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   background-color: var(--white-colour);
   border-radius: 50%;
   transition: background-color 250ms var(--timing-function);
}
.social-list:not(:last-child) {
   margin-right: 10px;
}
.social-icon {
   fill: var(--clients-picture-border);
   transition: fill 250ms var(--timing-function);
}
.social-link:focus,
.social-link:hover {
   background-color: var(--current-color);
}

.social-link:focus .social-icon,
.social-link:hover .social-icon {
   fill: var(--white-colour);
   background-color: var(--current-color);
}
.social-link:not(:last-child) {
   margin-right: 10px;
}
.clients {
   display: flex;
}
.clients-icons {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid var(--clients-picture-border);
   border-radius: 4px;
   width: 170px;
   height: 92px;
   padding: 16px 32px;
   transition: border 250ms var(--timing-function);
}
.clients-icons:focus,
.clients-icons:hover {
   cursor: pointer;
   border: 1px solid var(--current-color);
}
.client:not(:last-child) {
   margin-right: 30px;
}
.client-icon {
   fill: var(--clients-picture-border);
   transition: fill 250ms var(--timing-function);
}

.clients-icons:focus .client-icon,
.clients-icons:hover .client-icon {
   fill: var(--current-color);
}
/* Portfolio STYLES */
.btn-list {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}
.filter-button {
   display: inline-block;
   border-radius: 4px;
   padding: 6px 22px;
   background-color: var(--second-background);
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.625;
   text-align: center;
   letter-spacing: 0.03em;
   border: none;
   transition: background-color 250ms var(--timing-function),
   box-shadow 250ms var(--timing-function),
   color 250ms var(--timing-function);
}
.filter-buttons:not(:last-child) {
   margin-right: 8px;
}
.filter-button:focus,
.filter-button:hover {
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
   color: var(--white-colour);
   background-color: var(--current-color);
}
.product-list {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
}
.product {
   flex-basis: calc((100% - 90px) / 3);
   /* flex-basis: 370px; */
   margin: 15px;
   cursor: pointer;
}
/* .product:nth-child(3n) {
   margin-right: 0px;
} */
/* .product:nth-last-child(-n + 3) {
   margin-bottom: 0px; 
} */
.products-inside {
   text-decoration: none;
   padding: 20px 24px;
   background-color: var(--white-colour);
   border-bottom: 1px solid var(--border);
   border-left: 1px solid var(--border);
   border-right: 1px solid var(--border);
}
.product-pic {
   width: 100%;
   position: relative;
   overflow: hidden;
}
.product-img {
   display: block;
}
.product-link {
   display: inline-block;
   text-decoration: none;
   transition: box-shadow 250ms var(--timing-function);
}
.product-link:hover,
.product-link:focus {
   cursor: pointer;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-description {
   position: absolute;
   bottom: 0;
   transform: translateY(100%);
   transition: transform 250ms var(--timing-function);
   width: 100%;
   height: 100%;
   padding: 63px 24px;
   background-color: rgba(33, 150, 243, 0.9);
}
.product:hover .product-description,
.product:focus .product-description {
   transform: translateY(0%);
}
.product-text {
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.56;
   letter-spacing: 0.03em;
   color: var(--white-colour);
}
.product-name {
   margin-bottom: 4px;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: var(--primary-text-color);
}
.description {
   text-decoration: none;
   font-style: normal;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color);
}
/* СТИЛИ ФУТЕРА */
footer {
   background-color: var(--background);
}
.footer {
   padding-top: 60px;
   padding-bottom: 60px;
}
.footer-content {
   display: flex;
   align-items: baseline;
}
.logo-address {
   margin-right: 70px;
}
.btmlogo {
   display: inline-block;
   margin-bottom: 20px;
}
.footer-logo {
   font-family: Raleway;
   font-style: normal;
   font-size: 26px;
   line-height: 1.19;
   color: var(--white-colour);
}

.street {
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--white-colour);
   transition: color 250ms var(--timing-function);
}
.street:hover,
.street:focus {
   color: var(--current-color);
}
.foot-contacts {
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--addres-colour);
   transition: color 250ms var(--timing-function);
}

.foot-contacts:hover,
.foot-contacts:focus {
   color: var(--current-color);
}
.address-list:not(:last-child) {
   margin-bottom: 9px;
}
.join{
   margin-right: 93px;
}
.join-us {
   display: inline-block;
   margin-bottom: 20px;
   font-style: normal;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--white-colour);
}
.footer-social-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   background-color: #ffffff1a;
   border-radius: 50%;
   transition: background-color 250ms var(--timing-function);
}
.footer-social-link:focus,
.footer-social-link:hover {
   background-color: var(--current-color);
}

.footer-social-icon {
   fill: var(--white-colour);
   transition: fill 250ms var(--timing-function);
}
.footer-social-link:focus .footer-social-icon,
.footer-social-link:hover .footer-social-icon {
   fill: var(--white-colour);
}
.join:not(:last-child).footer-social {
   margin-right: 10px;
}
.footer-form{
   display: flex;
   align-items: flex-end;
   
}
.footer-form-field{
   display: flex;
   flex-direction: column;
   width: 358px;
   height: 86px;
   margin-right: 12px;
}
.footer-form input{
   padding: 15px 16px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   color: var(--white-colour);
   background-color: var(--background);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
 }
 .footer-form input::placeholder{
   color: rgba(255, 255, 255, 0.6);
}
.footer-mail-form {   
   margin-bottom: 20px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.142;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--white-colour);
}
.footer-mail-form input{
   
}
.footer-subscribe-btn{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 50px;
   padding: 10px 28px 10px 29px;

   color: var(--white-colour);
   background-color: var(--current-color);
   font-family: Roboto;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;

   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border: none;
   border-radius: 4px;
}
.subscribe-btn-icon{
   fill: var(--white-colour);
   margin-left: 10px;


}
/* modal window */
.backdrop {
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   opacity: 1;
   transform: opacity;
   transition: opacity 250ms var(--timing-function);
   background-color: rgba(0, 0, 0, 0.2);
   
}
.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   min-width: 530px;
   min-height: 583px;
   padding: 40px;
   background-color: var(--white-colour);
   transition: transform 250ms var(--timing-function);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
}
.backdrop.is-hidden {
   opacity: 0;
   scale: 0.1;
   pointer-events: none;
}
.backdrop.is-hidden .modal{
   transform: translate(-50%, -50%) scale(0.1);
}
.form-title{
   margin-bottom: 12px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.15;
   text-align: center;
   letter-spacing: 0.03em;
}
.form-label{
   display: block;
   margin-bottom: 4px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
   color: var(--secondary-text-color);
}

.form-field{
   position: relative;
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
}

.form-field .input {
   padding: 12px 15px 12px 42px;
   width: 450px;
   height: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   transform: border;
   transition: transform 250ms var(--timing-function);
   }
.form-field textarea{
   margin-bottom: 20px;
   padding: 12px 16px;
   width: 450px;
   height: 120px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   transform: border;
   transition: transform 250ms var(--timing-function);
   }
.form-field textarea::placeholder{
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
   color: rgba(117, 117, 117, 0.5);
}
.form-icon{
   position: absolute;
   top: 32px;
   left: 15px;
   fill: var(--primary-text-color);
   transform: fill;
   transition: transform 250ms var(--timing-function);
}
.form-field:focus-within > .form-icon {
   fill: var(--current-color);
}
.form-field:focus-within > .form-label {
   color: var(--current-color);
}
.form-field:focus-within > .input {
   outline: none;
   border: 1px solid var(--current-color);
}
.form-field:focus-within > textarea {
   outline: none;
   border: 1px solid var(--current-color);
}
.checkbox {
   position: absolute;
   width: 1px;
   height: 1px; 
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.checkbox:checked + .confirm-policy-icon{
   border-color: transparent;
   fill: var(--white-colour);
   background-color: var(--current-color);
   background-image: url('../images/icon-check.svg');
   background-size: contain;
   background-origin: border-box;
}
.confirm-policy-icon {
   display: inline-block;
   margin-left: 14px;
   margin-right: 7px;
   width: 16px;
   height: 15px;
   border: 2px solid var(--primary-text-color);
   border-radius: 2px;
}
.form-policy-field{
   position: relative;

   }
.policy-field {
   display: flex;
   justify-content: center;
   align-items: center;;
   padding: 0;
   margin: 0px;
   margin-bottom: 30px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color);
}   
.policy-link{
   color: var(--current-color);
}
.modal-close-button {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   margin: 0;
   top: 8px;
   right: 8px;
   width: 30px;
   height: 30px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   background-color: var(--white-colour);
   }
.modal-close-icon {
   fill: #000;
   transition: fill 250ms var(--timing-function);
}
.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
   fill: var(--current-color);
}
.modal-close-button:hover,
.modal-close-button:focus {
   background-color: var(--white-colour);
   cursor: pointer;
}
textarea{
   display: block;
   resize: none;
}
.form-submit-btn{
   display: block;
   margin-right: auto;
   margin-left: auto;
   width: 200px;
   height: 50px;
   padding: 10px 55px;
   color: var(--white-colour);
   background: #2196F3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border: none;
   border-radius: 4px;
}